.page-album {
  color: #CCCCCC;
  display: flex;
  flex-direction: column;
}

.musics {
  background-color: rgba(255, 255, 255, 0.08);
  align-self: center;
  border-radius: 10px;
  margin-top: 30px;
  height: 650px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section-album-info {
  align-self: center;
  height: 150px;
  display: flex;
  width: 1000px;
}

.section-album-info img {
  width: 150px;
  margin-left: 40px;
}

.album-info-texts {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-self: last baseline;
}

.album-info-texts h1 {
  font-size: 60px;
}
