.login-section {
  position: relative;
  top: 240px;
  left: 800px;
  text-align: center;
  background-image: linear-gradient(to bottom, #444444, #111111);
  height: 340px;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  color: #5cb85c;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.25);
}

.name, .email, .description, .image {
  margin-top: 20px;
}

.input {
  text-align: center;
  border: none;
  padding: 10px 5px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.25);
}

.login-btn {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
}

.login-btn:enabled {
  background-color: #5cb85c; /* Verde claro */
  color: white;
  cursor: pointer;
}

.login-btn:disabled {
  background-color: #a2cea2; /* Verde mais claro */
  color: white;
  cursor: not-allowed;
}




