header {
  color: #CCCCCC;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 20px 0 0 30px;
  display: flex;
}

.nav-links {
  margin: 40px 20px 0 0;
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.nav-links p {
  color: #CCCCCC;
  padding: 6px 12px 8px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}

.nav-links i {
  font-size: 14px;
  margin-right: 6px;
}

.nav-links i:hover {
  color: black;
  margin-right: 6px;
}

.nav-links p:hover {
  background-color: #CCCCCC;
  color: black;
  font-weight: 700;
  transform: scale(1.05);
}

.logo {
  height: 90px;
}

i {
  color: #CCCCCC;
  font-size: 15px;
}
